<div id="outer" class="">
  <div class="hand hand-left"></div>
  <div id="keyboardContainer">
    <ul id="keyboard" style="margin: 0; padding: 0; list-style: none;">
      <li class="symbol" data-value="backtick">`</li>
      <li class="symbol" id="1" data-value="1">1</li>
      <li class="symbol" id="2" data-value="2">2</li>
      <li class="symbol" id="3" data-value="3">3</li>
      <li class="symbol" id="4" data-value="4">4</li>
      <li class="symbol" id="5" data-value="5">5</li>
      <li class="symbol" id="6" data-value="6">6</li>
      <li class="symbol" id="7" data-value="7">7</li>
      <li class="symbol" id="8" data-value="8">8</li>
      <li class="symbol" id="9" data-value="9">9</li>
      <li class="symbol" id="0" data-value="0">0</li>
      <li class="symbol" data-value="minus">-</li>
      <li class="symbol" data-value="equal">=</li>
      <li class="delete lastitem">delete</li>
      <li class="tab" id="&#9;" data-value="tab">tab</li>
      <li class="key" id="q" data-value="q">q</li>
      <li class="key" id="w" data-value="w">w</li>
      <li class="key" id="e" data-value="e">e</li>
      <li class="key" id="r" data-value="r">r</li>
      <li class="key" id="t" data-value="t">t</li>
      <li class="key" id="y" data-value="y">y</li>
      <li class="key" id="u" data-value="u">u</li>
      <li class="key" id="i" data-value="i">i</li>
      <li class="key" id="o" data-value="o">o</li>
      <li class="key" id="p" data-value="p">p</li>
      <li class="symbol" data-value="bracket-right">[</li>
      <li class="symbol" data-value="bracket-left">]</li>
      <li class="symbol lastitem">\</li>
      <li class="capslock">caps lock</li>
      <li class="key" id="a" data-value="a">a</li>
      <li class="key" id="s" data-value="s">s</li>
      <li class="key" id="d" data-value="d">d</li>
      <li class="key" id="f" data-value="f">f</li>
      <li class="key" id="g" data-value="g">g</li>
      <li class="key" id="h" data-value="h">h</li>
      <li class="key" id="j" data-value="j">j</li>
      <li class="key" id="k" data-value="k">k</li>
      <li class="key" id="l" data-value="l">l</li>
      <li class="symbol" id="semicolon" data-value="semicolon">;</li>
      <li class="symbol" id="apostrophe" data-value="apostrophe">'</li>
      <li class="return lastitem">return</li>
      <li class="left-shift">shift</li>
      <li class="key" id="z" data-value="z">z</li>
      <li class="key" id="x" data-value="x">x</li>
      <li class="key" id="c" data-value="c">c</li>
      <li class="key" id="v" data-value="v">v</li>
      <li class="key" id="b" data-value="b">b</li>
      <li class="key" id="n" data-value="n">n</li>
      <li class="key" id="m" data-value="m">m</li>
      <li class="symbol" id="comma" data-value="comma">,</li>
      <li class="symbol" id="period" data-value="period">.</li>
      <li class="symbol" id="f-slash" data-value="f-slash">/</li>
      <li class="right-shift lastitem">shift</li>
      <li class="space lastitem" id="space" data-value="space"> </li>
    </ul>
  </div>
  <div class="hand hand-right"></div>
</div>
