<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<div class = "navbar">
  <div id = "logo-background"></div>
  <img src="public/images/code_phil.svg" id = "logo">
  <li class = "nav-title">TypePhil.|</li>
  <li class = "nav-text">Welcome, <span style = "color: #131b75"><%= user.username %></span>!</li>
</div>