<html>
  <head>
    <title>TypePhil</title>
    <% include ./partials/head %>
    <script src="password.js"></script>
  </head>
  <body>
    <div style = "font-family: 'Raleway'" class = "navbar">
      <div id = "logo-background"></div>
      <img src="public/images/code_phil.svg" id = "logo">
      <li class = "nav-title">TypePhil.<span class="blinking-cursor">|</span></li>
    </div>
    <div class="main-container withnav container">
      <button class = "back" onclick="route_password_recovery()"><span class="fa fa-arrow-left"></span></button>
      <div class="signif">
      <div id="password-recovery-instructions">Use the search bar to find a particular user. To change a user's password, just click on the password field next to a user's name and type in the new password.</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><input type="text" class = "form-control" id="tableSearch" onkeyup="searchUsernames()" placeholder="Search for usernames..."></th>
          </tr>
        </thead>
      </table>
      <div class = "signif table-wrapper">
        <table class="table table-hover" id="password-table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Password</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <% for (key in userList) { %>
              <tr>
                <td class="username"><%= key %></td>
                <td class="password "onclick="editPassword()"><%= decodeURIComponent(userList[key]) %></td>
              <tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <button class = "btn btn-info" id = "save" onclick="updateUserPassword()"><span class="fa fa-floppy-o"></span> Save</button>
      </div>
    </div>
  </body>
</html>