<html>
  <head>
    <meta charset="utf-8">
    <title>TypePhil</title>
    <% include ./partials/head %>
  </head>
  <body>
    <div class = "main-container">
      <div class = "maintext">
        <div id = "title">TypePhil.<span class="blinking-cursor">|</span></div>
        <form id="adminLogin">
          <input autofocus class = "personalData" placeholder="Admin Username" type="text" name="adminUsername">
          <input class = "personalData" placeholder="Admin Password" type="password" name="adminPassword">
          <button class = "btn btn-warning" onclick="validateAdmin()"><span class="fa fa-sign-in"></span> <span class = "desc">View Passwords</span></button>
        </form>
        <div>
          <button class = "btn btn-warning" onclick="route_start_screen()"><span class="fa fa-arrow-circle-left"></span> <span class = "desc" >Return To Login</span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>